<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InputDisplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <InputDisplay.Properties.Settings>
            <setting name="BackgroundColour" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="ButtonColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DisplayTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomColours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AcceleratorColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DriftColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ItemColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DirectionalColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DPadColour" serializeAs="String">
                <value>White</value>
            </setting>
        </InputDisplay.Properties.Settings>
    </userSettings>
</configuration>