<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InputDisplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <InputDisplay.Properties.Settings>
            <setting name="BackgroundColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ButtonColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DisplayTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomColours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_AcceleratorColour" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="C_DriftColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="C_ItemColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="C_DirectionalColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="C_DPadColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="C_AcceleratorScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="C_DriftScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="C_ItemScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="C_DirectionalScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="C_DPadScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OutlineColour" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="UseOutline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Outline" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C_AcceleratorPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="C_DriftPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="C_ItemPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="C_DPadPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="C_DirectionalPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="N_AcceleratorColour" serializeAs="String">
                <value />
            </setting>
            <setting name="N_DriftColour" serializeAs="String">
                <value />
            </setting>
            <setting name="N_ItemColour" serializeAs="String">
                <value />
            </setting>
            <setting name="N_DirectionalColour" serializeAs="String">
                <value />
            </setting>
            <setting name="N_TrickColour" serializeAs="String">
                <value />
            </setting>
            <setting name="N_WiiMoteScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="N_DirectionalScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="N_ItemScale" serializeAs="String">
                <value>1</value>
            </setting>
        </InputDisplay.Properties.Settings>
    </userSettings>
</configuration>